In [15]:
import pandas as pd
import numpy as np

In [16]:
df = pd.read_csv('1119raw_bs4_tides.csv')
df.head()

,Date,High_1,High_Time_1,High_Height_1,Low_1,Low_Time_1,Low_Height_1,High_2,High_Time_2,High_Height_2,Low_2,Low_Time_2,Low_Height_2,Location,Long,Lat,State
0,Thu 19 Nov,High,3:36 am,1.09 m,Low,9:33 am,0.61 m,High,12:40 pm,0.69 m,Low,8:30 pm,0.06 m,"Bramble Cove, TAS",146.0,-43.19,SA
1,Fri 20 Nov,High,4:15 am,1.09 m,Low,10:15 am,0.59 m,High,1:03 pm,0.65 m,Low,9:06 pm,0.12 m,"Bramble Cove, TAS",146.0,-43.19,SA
2,Sat 21 Nov,High,4:53 am,1.06 m,Low,9:37 pm,0.25 m,NaN,NaN,NaN,NaN,NaN,NaN,"Bramble Cove, TAS",146.0,-43.19,SA
3,Sun 22 Nov,High,5:26 am,1.00 m,Low,8:18 pm,0.39 m,NaN,NaN,NaN,NaN,NaN,NaN,"Bramble Cove, TAS",146.0,-43.19,SA
4,Mon 23 Nov,High,5:51 am,0.93 m,Low,3:46 pm,0.42 m,NaN,NaN,NaN,NaN,NaN,NaN,"Bramble Cove, TAS",146.0,-43.19,SA

In [10]:
df.stack(dropna=True)

0   Thu 19 Nov                Fri 20 Nov
    High                            High
    3:36 am                      4:15 am
    1.09 m                        1.09 m
    Low                              Low
                              ...
26  0.06 m                        0.66 m
    Bramble Cove, TAS    Apollo Bay, VIC
    146.00                         143.4
    -43.19                        -38.45
    SA                                SA
Length: 399, dtype: object

In [58]:
df1 = df[['Date','High_1','High_Time_1','High_Height_1','Location','Long','Lat','State']]
# df1

In [59]:
df2 = df[['Date','Low_1','Low_Time_1','Low_Height_1','Location','Long','Lat','State']]
#df2

In [60]:
df3 = df[['Date','High_2','High_Time_2','High_Height_2','Location','Long','Lat','State']]
#df3

In [61]:
df4 = df[['Date','Low_2','Low_Time_2','Low_Height_2','Location','Long','Lat','State']]
#df4

In [42]:
df.columns

Index(['Date', 'High_1', 'High_Time_1', 'High_Height_1', 'Low_1', 'Low_Time_1',
       'Low_Height_1', 'High_2', 'High_Time_2', 'High_Height_2', 'Low_2',
       'Low_Time_2', 'Low_Height_2', 'Location', 'Long', 'Lat', 'State'],
      dtype='object')

In [62]:
df1 = df1.rename(columns = {'Date':'Date','High_1':'Type','High_Time_1':'Time','High_Height_1':'Height', 
                      4:'Location',5:'Long',6:'Lat',7:'State'})
#df1

In [63]:
df2 = df2.rename(columns = {'Date':'Date','Low_1':'Type','Low_Time_1':'Time','Low_Height_1':'Height', 
                      4:'Location',5:'Long',6:'Lat',7:'State'})
#df2

In [64]:
df3 = df3.rename(columns = {'Date':'Date','High_2':'Type','High_Time_2':'Time',
                            'High_Height_2':'Height', 
                      4:'Location',5:'Long',6:'Lat',7:'State'})
#df3

In [67]:
df4 = df4.rename(columns = {'Date':'Date','Low_2':'Type','Low_Time_2':'Time','Low_Height_2':'Height', 
                      4:'Location',5:'Long',6:'Lat',7:'State'})
#df4

In [70]:
clean_df = pd.concat([df1,df2,df3,df4])
clean_df

          Date  Type      Time  Height           Location   Long    Lat State
0   Thu 19 Nov  High   3:36 am  1.09 m  Bramble Cove, TAS  146.0 -43.19    SA
1   Fri 20 Nov  High   4:15 am  1.09 m  Bramble Cove, TAS  146.0 -43.19    SA
2   Sat 21 Nov  High   4:53 am  1.06 m  Bramble Cove, TAS  146.0 -43.19    SA
3   Sun 22 Nov  High   5:26 am  1.00 m  Bramble Cove, TAS  146.0 -43.19    SA
4   Mon 23 Nov  High   5:51 am  0.93 m  Bramble Cove, TAS  146.0 -43.19    SA
..         ...   ...       ...     ...                ...    ...    ...   ...
23  Thu 26 Nov  High   9:58 pm  1.59 m    Apollo Bay, VIC  143.4 -38.45    SA
24  Fri 27 Nov  High  11:07 pm  1.74 m    Apollo Bay, VIC  143.4 -38.45    SA
25  Sat 28 Nov   NaN       NaN     NaN    Apollo Bay, VIC  143.4 -38.45    SA
26  Sun 29 Nov   Low   5:28 pm  0.79 m    Apollo Bay, VIC  143.4 -38.45    SA
27  Mon 30 Nov   Low   6:05 pm  0.66 m    Apollo Bay, VIC  143.4 -38.45    SA

[112 rows x 8 columns]

In [73]:
clean_df.dropna(inplace=True)
clean_df

          Date  Type      Time  Height           Location   Long    Lat State
0   Thu 19 Nov  High   3:36 am  1.09 m  Bramble Cove, TAS  146.0 -43.19    SA
1   Fri 20 Nov  High   4:15 am  1.09 m  Bramble Cove, TAS  146.0 -43.19    SA
2   Sat 21 Nov  High   4:53 am  1.06 m  Bramble Cove, TAS  146.0 -43.19    SA
3   Sun 22 Nov  High   5:26 am  1.00 m  Bramble Cove, TAS  146.0 -43.19    SA
4   Mon 23 Nov  High   5:51 am  0.93 m  Bramble Cove, TAS  146.0 -43.19    SA
..         ...   ...       ...     ...                ...    ...    ...   ...
22  Wed 25 Nov  High   8:35 pm  1.49 m    Apollo Bay, VIC  143.4 -38.45    SA
23  Thu 26 Nov  High   9:58 pm  1.59 m    Apollo Bay, VIC  143.4 -38.45    SA
24  Fri 27 Nov  High  11:07 pm  1.74 m    Apollo Bay, VIC  143.4 -38.45    SA
26  Sun 29 Nov   Low   5:28 pm  0.79 m    Apollo Bay, VIC  143.4 -38.45    SA
27  Mon 30 Nov   Low   6:05 pm  0.66 m    Apollo Bay, VIC  143.4 -38.45    SA

[92 rows x 8 columns]

In [74]:
clean_df.to_csv(r'./1119cleaned_bs4_tides.csv', index = False, mode='w', header=True)